.title {
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  margin-bottom: 60px;
}

.listInformation {
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 22px;
  margin-bottom: 40px;
}

.btnInformation {
  text-decoration: none;
  display: block;
  width: 205px;
  height: 40px;
  text-align: center;
  border: 1px solid transparent;
  border-radius: 25px;
  color: white;
  background-color: #9c32f0;
  margin-left: auto;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.listInformationText {
  font-weight: 400;
  font-size: 16px;
  color: #000;
}

@media screen and (min-width: 768px) and (max-width: 1919.9px) {
  .wrapperContent {
    display: flex;
    align-items: flex-end;
  }

  .listInformation {
    margin: 0;
    width: 319px;
  }
}

@media screen and (min-width: 1920px) {
  .title {
    font-size: 44px;
    margin-bottom: 50px;
  }
  .listInformationText {
    font-size: 32px;
  }
  .listInformation {
    gap: 50px;
    margin-bottom: 0;
  }

  .btnInformation {
    width: 500px;
    height: 93px;
    border-radius: 50px;
    background-color: #8b81ff;
    font-weight: 400;
    font-size: 32px;
  }
  .wrapperContent {
    display: flex;
    align-items: flex-end;
  }
}
