.title {
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  margin-bottom: 60px;
}

.listInformation {
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 22px;
  margin-bottom: 40px;
}

.btnInformation {
  text-decoration: none;
  display: block;
  width: 205px;
  height: 40px;
  text-align: center;
  border: 1px solid transparent;
  border-radius: 25px;
  color: white;
  background-color: #9c32f0;
  margin-left: auto;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 768px) and (max-width: 1759.9px) {
  .wrapperContent {
    display: flex;
    align-items: flex-end;
  }

  .listInformation {
    margin: 0;
    width: 319px;
  }
}
