.sectionFooter {
  margin-top: 80px;
  margin-bottom: 85px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
}

.wrapperContent {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.textSection {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.titleText {
  font-size: 28px;
  text-align: center;
  font-style: normal;
  font-weight: 400;
}

.textOnline {
  font-size: 16px;
  text-align: center;
}

.link {
  text-decoration: none;
  color: #000;
  cursor: pointer;
}

.containerSocial {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  align-items: center;
}

.listContact {
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 25px;
  cursor: pointer;
}

.listIcon {
  padding: 0;
  list-style: none;
  display: flex;
  gap: 20px;
  cursor: pointer;
}

.listFooter {
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: space-between;
}

.listFooterItem {
  font-size: 14px;
}

.listFooterItem:nth-child(3) {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 767.9px) {
  .container {
    min-width: 280px;
    max-width: 360px;

    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
  }

  .sectionFooter {
    min-width: 280px;
    max-width: 360px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1759.9px) {
  .listFooter {
    gap: 25px;
    justify-content: center;
  }

  .listFooterItem:nth-child(3) {
    margin-left: 0;
    margin-right: 0;
  }
  .sectionFooter {
    width: 768px;
    padding: 0 20px;
  }
}
