.container {
  display: flex;
  flex-direction: column;
  /* gap: 40px; */

  margin-bottom: 40px;
}

.text,
.textUserData {
  font-size: 20px;
  margin-bottom: 10px;
}

.label {
  /* max-width: 320px; */
  position: relative;
}

.inp {
  width: 100%;
  height: 54px;
  padding: 20px;
  background-color: white;
  background: linear-gradient(white, white) padding-box,
    linear-gradient(
        to bottom,
        rgba(139, 129, 255, 1),
        rgba(126, 50, 240, 1),
        rgba(236, 20, 227, 1)
      )
      border-box;
  border-radius: 25px;
  border: 1px solid transparent;
  outline: none;
}

.labelGet {
  width: 110px;
  font-size: 20px;
}

.textGet {
  width: 110px;
  height: 65px;
  padding: 20px;
  /* background-color: white; */
  background: linear-gradient(white, white) padding-box,
    linear-gradient(
        to bottom,
        rgba(139, 129, 255, 1),
        rgba(126, 50, 240, 1),
        rgba(236, 20, 227, 1)
      )
      border-box;
  border-radius: 25px;
  border: 1px solid transparent;
  outline: none;
}

.inpGet {
  width: 110px;
  /* height: 54px; */
  padding: 20px;
  /* background-color: white; */
  background: linear-gradient(white, white) padding-box,
    linear-gradient(
        to bottom,
        rgba(139, 129, 255, 1),
        rgba(126, 50, 240, 1),
        rgba(236, 20, 227, 1)
      )
      border-box;
  border-radius: 25px;
  border: 1px solid transparent;
  outline: none;
}

.select {
  display: block;
  width: 110px;
  padding: 20px;
  height: 65px;
  background: linear-gradient(white, white) padding-box,
    linear-gradient(
        to bottom,
        rgba(139, 129, 255, 1),
        rgba(126, 50, 240, 1),
        rgba(236, 20, 227, 1)
      )
      border-box;
  border-radius: 25px;
  border: 1px solid transparent;
  outline: none;
}

.option {
  display: block;
  width: 110px;
  padding: 20px;
  height: 65px;
  background: linear-gradient(white, white) padding-box,
    linear-gradient(
        to bottom,
        rgba(139, 129, 255, 1),
        rgba(126, 50, 240, 1),
        rgba(236, 20, 227, 1)
      )
      border-box;
  border-radius: 25px;
  border: 1px solid transparent;
  outline: none;
}

.option {
  display: block;
  padding: 40px;
  width: 110px;
  height: 65px;
}

.reveranse {
  display: flex;
  justify-content: center;
  padding: 10px;
}

/* Стилізація для вибраної радіокнопки */
.inputRatio[type='radio']:checked + .labelRatio {
  background-color: #8b81ff;
  color: #fff;
  font-weight: bold;
}

.inputRatio {
  display: none;
}

@media screen and (max-width: 767.9px) {
  .container {
    max-width: 320px;
  }

  .label {
    max-width: 320px;
  }

  .wrapperInpDiv {
    display: flex;
    justify-content: space-between;
    /* flex-direction: column; */
  }
  .wrapperUserDataInp {
    display: flex;
    gap: 20px;
    flex-direction: column;
  }
}

@media screen and (min-width: 768px) and (max-width: 1919.9px) {
  .container {
    display: flex;
    width: 100%;
    /* gap: 40px; */
  }

  .wrapperInpDiv {
    display: flex;
    justify-content: space-between;
    gap: 50px;
  }

  .inputsWrapper {
    display: flex;
    justify-content: space-between;
  }
  .wrapperUserDataInp {
    display: flex;
    gap: 20px;
  }
  .label {
    width: 320px;
  }
}
@media screen and (max-width: 1919.9px) {
  .wrapperUserDataInp {
    flex-direction: column;
  }
  .container {
    gap: 40px;
  }
}
@media screen and (min-width: 1920px) {
  .container {
    gap: 50px;
  }
  .wrapperInpDiv {
    width: 440px;
    display: flex;
    justify-content: space-between;
  }
  .inputsWrapper {
    width: 1240px;
    display: flex;
    justify-content: space-between;
  }

  .labelGet {
    width: 190px;
    height: 100px;
  }
  .inpGet {
    width: 190px;
    height: 100px;
    border-radius: 50px;
    font-size: 32px;
  }
  .text {
    font-size: 32px;
  }
  .textGet {
    width: 190px;
    height: 100px;
    border-radius: 50px;
    font-size: 32px;
    /* text-align: start; */
    display: flex;
    justify-content: start;
    padding-top: 25px;
    line-height: normal;
  }

  .textUserData {
    height: 23px;
  }

  .reveranse {
    margin-top: auto;
    padding: 0;
  }

  .wrapperUserDataInp {
    display: flex;
    width: 1240px;
    /* height: 143px; */
    justify-content: space-between;
    /* flex-direction: column; */
  }
  .label {
    width: 600px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .inp {
    width: 600px;
    height: 100px;
    padding: 40px 20px;
    border-radius: 50px;
    font-size: 24px;
  }
  .textUserData {
    padding-bottom: 20px;
    font-size: 32px;
  }
}
