


.container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 320px;
    margin-bottom:40px ;
}

.text{
font-size: 20px;
margin-bottom: 10px;
}

.label{
max-width: 320px;
position: relative;
}

.inp{
width: 100%;
padding: 20px;
background-color: white;
background: linear-gradient(white, white) padding-box,
          linear-gradient(to bottom,
            rgba(139, 129, 255, 1),
            rgba(126, 50, 240, 1),
            rgba(236, 20, 227, 1)) border-box;
border-radius: 25px;
border: 1px solid transparent;
outline: none;
}

.labelGet{
width: 110px;

}

.inpGet{
width: 110px;
  padding: 20px;
  /* background-color: white; */
  background: linear-gradient(white, white) padding-box,
    linear-gradient(to bottom,
      rgba(139, 129, 255, 1),
      rgba(126, 50, 240, 1),
      rgba(236, 20, 227, 1)) border-box;
  border-radius: 25px;
  border: 1px solid transparent;
  outline: none;
}


.select{
  display: block;
  width: 110px;
  padding: 20px;
  height: 65px;
  background: linear-gradient(white, white) padding-box,
      linear-gradient(to bottom,
        rgba(139, 129, 255, 1),
        rgba(126, 50, 240, 1),
        rgba(236, 20, 227, 1)) border-box;
    border-radius: 25px;
    border: 1px solid transparent;
    outline: none;
}

.firstContainer{
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.option{
  display: block;
  padding: 40px;
  width: 110px;
  height: 65px;
}

