.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  /* max-width: 320px; */
  margin-bottom: 40px;
}

.text {
  font-size: 20px;
  margin-bottom: 10px;
}

.label {
  max-width: 320px;
  position: relative;
}

.inp {
  width: 100%;
  height: 54px;
  padding: 20px;
  background-color: white;
  background: linear-gradient(white, white) padding-box,
    linear-gradient(
        to bottom,
        rgba(139, 129, 255, 1),
        rgba(126, 50, 240, 1),
        rgba(236, 20, 227, 1)
      )
      border-box;
  border-radius: 25px;
  border: 1px solid transparent;
  outline: none;
}

.labelGet {
  width: 110px;
  font-size: 20px;
}

.textGet {
  width: 110px;
  height: 65px;
  padding: 20px;
  /* background-color: white; */
  background: linear-gradient(white, white) padding-box,
    linear-gradient(
        to bottom,
        rgba(139, 129, 255, 1),
        rgba(126, 50, 240, 1),
        rgba(236, 20, 227, 1)
      )
      border-box;
  border-radius: 25px;
  border: 1px solid transparent;
  outline: none;
}

.inpGet {
  width: 110px;
  /* height: 54px; */
  padding: 20px;
  /* background-color: white; */
  background: linear-gradient(white, white) padding-box,
    linear-gradient(
        to bottom,
        rgba(139, 129, 255, 1),
        rgba(126, 50, 240, 1),
        rgba(236, 20, 227, 1)
      )
      border-box;
  border-radius: 25px;
  border: 1px solid transparent;
  outline: none;
}

.select {
  display: block;
  width: 110px;
  padding: 20px;
  height: 65px;
  background: linear-gradient(white, white) padding-box,
    linear-gradient(
        to bottom,
        rgba(139, 129, 255, 1),
        rgba(126, 50, 240, 1),
        rgba(236, 20, 227, 1)
      )
      border-box;
  border-radius: 25px;
  border: 1px solid transparent;
  outline: none;
}

.option {
  display: block;
  width: 110px;
  padding: 20px;
  height: 65px;
  background: linear-gradient(white, white) padding-box,
    linear-gradient(
        to bottom,
        rgba(139, 129, 255, 1),
        rgba(126, 50, 240, 1),
        rgba(236, 20, 227, 1)
      )
      border-box;
  border-radius: 25px;
  border: 1px solid transparent;
  outline: none;
}

/* .firstContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
} */

.option {
  display: block;
  padding: 40px;
  width: 110px;
  height: 65px;
}

.reveranse {
  display: flex;
  justify-content: center;
  padding: 10px;
}

/* Стилізація для вибраної радіокнопки */
.inputRatio[type='radio']:checked + .labelRatio {
  background-color: #8b81ff;
  color: #fff;
  font-weight: bold;
}

.inputRatio {
  display: none;
}

@media screen and (max-width: 767.9px) {
  .container {
    display: flex;
    flex-direction: column;
    /* gap: 20px; */
    max-width: 320px;
  }

  .wrapperInpDiv {
    display: flex;
    justify-content: space-between;
    /* flex-direction: column; */
  }
}

@media screen and (min-width: 768px) and (max-width: 1759.9px) {
  .container {
    display: flex;
    width: 100%;
    gap: 20px;
  }

  .wrapperInpDiv {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    /* flex-direction: column; */
  }

  .inputsWrapper {
    display: flex;
    justify-content: space-between;
  }
}
