
.title{
font-size: 24px;
font-style: normal;
font-weight: 500; 
margin-bottom: 60px;
}

.listInformation{
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0;
}

.listItem{
    /* padding: 20px; */
    position: relative;
    display: flex;
    flex-direction: column;

}

.listItem::before{
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 1px;
    left: 0;
    top: 94px;
    background-color: rgba(156,50,240,1);
}

.listItem:nth-child(4)::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 1px;
    left: 0;
    top: 148px;
    background-color: rgba(156, 50, 240, 1);
}

.textListItem{
font-size: 20px;
font-style: normal;
display: inline-block;
width: 255px;
}

.textOverlay{
    font-size: 16px;
}

.textOverlay2{
    font-style: 16px;
    padding-top: 10px;
}

.divOrignText{
    display: flex;
    align-items: center;
    padding: 20px;
    /* margin-bottom: 20px; */
}



.containerOverlay {
    padding: 0 20px;
    height: 0;
    overflow: hidden;
    transition: height 0.3s ease-in-out, padding 0.3s ease-in-out;
}

.visible {
   height: auto;
    /* або будь-яке інше значення, яке ви хочете встановити */
    padding: 40px 20px;
}

.visible1 {

    height: 234px;
    /* height: 304px; */
    padding: 40px 20px;
}


.visible2 {
    height: 420px;
    padding: 40px 20px;
}

.visible3 {
    height: 274px;
    padding: 40px 20px;
}

.visible4 {
    height: 144px;
    padding: 40px 20px;
}