.title {
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  margin-bottom: 60px;
}

.listInformation {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0;
}

.listItem {
  /* padding: 20px; */
  position: relative;
  display: flex;
  flex-direction: column;
}

/* .listItem::before {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 1px;
  left: 0;
  top: 94px;
  background-color: rgba(156, 50, 240, 1);
} */

/* .listItem:nth-child(4)::before {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 1px;
  left: 0;
  top: 148px;
  background-color: rgba(156, 50, 240, 1);
} */

.textListItem {
  font-size: 18px;
  font-style: normal;
  display: inline-block;
  width: 255px;
}

.textOverlay {
  font-size: 16px;
}

.textOverlay2 {
  font-style: 16px;
  padding-top: 10px;
}

.divOrignText {
  display: flex;
  align-items: center;
  padding: 20px;
  position: relative;
  height: 80px;

  overflow: hidden;
}
.listItem:nth-child(4) .divOrignText {
  height: 135px;
}

.containerOverlay:nth-child(4) {
  height: 132px;
}

.divOrignText::before {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 1px;
  left: 0;
  bottom: 0;
  background-color: rgba(156, 50, 240, 1);
}

.containerOverlay {
  padding: 0 20px;
  height: 0;
  overflow: hidden;
  transition: height 0.3s ease-in-out, padding 0.3s ease-in-out;
}

.visible {
  height: auto;
  /* або будь-яке інше значення, яке ви хочете встановити */
  padding: 40px 20px;
}

.visible1 {
  height: 256px;
  /* height: 304px; */
  padding: 40px 20px;
}

.visible2 {
  height: 444px;
  padding: 40px 20px;
}

.visible3 {
  height: 274px;
  padding: 40px 20px;
}

.visible4 {
  height: 144px;
  padding: 40px 20px;
}

@media screen and (max-width: 339.9px) {
  .textListItem {
    font-size: 14px;
    font-style: normal;
    display: inline-block;
    width: 255px;
  }

  .textOverlay,
  .textOverlay2 {
    font-size: 12px;
  }

  .visible1 {
    height: 180px;
    /* height: 304px; */
    padding: 40px 20px;
  }

  .visible2 {
    height: 312px;
    padding: 40px 20px;
  }

  .visible3 {
    height: 216px;
    padding: 40px 20px;
  }

  .visible4 {
    height: 114px;
    padding: 40px 20px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1919.9px) {
  .divOrignText {
    justify-content: space-between;
  }

  .textListItem {
    width: 100%;
  }

  /* .owerlay {
    height: 65px;
  } */

  /* .textOverlay:nth-child(4) {
    height: 80px;
  } */

  .listItem {
    /* padding: 20px; */
    position: relative;
    display: flex;
    flex-direction: column;
  }

  .visible {
    height: auto;
    /* або будь-яке інше значення, яке ви хочете встановити */
    padding: 40px 20px;
  }

  .visible1 {
    height: 140px;
    /* height: 304px; */
    padding: 40px 20px;
  }

  .visible2 {
    height: 222px;
    padding: 40px 20px;
  }

  .visible3 {
    height: 168px;
    padding: 40px 20px;
  }

  .visible4 {
    height: 104px;
    padding: 40px 20px;
  }
}
@media screen and (min-width: 1920px) {
  .title {
    font-size: 44px;
    margin-bottom: 50px;
  }
  .wrapperBg {
    width: 722px;
    /* height: 532px; */
    background-image: url(../../../../images//desktopIMG/questionDesk.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 158px 216px;
  }
  .wrapper {
    display: flex;
    gap: 20px;
  }

  .listInformation {
    width: 1018px;
  }
  .textListItem {
    width: auto;
  }
  .divOrignText {
    height: 130px;
    justify-content: space-between;
  }
  .textListItem {
    font-size: 32px;
  }
  .textOverlay,
  .textOverlay2 {
    font-size: 24px;
  }

  .visible1 {
    height: 176px;
    /* height: 304px; */
    padding: 40px 20px;
  }

  .visible2 {
    height: 284px;
    padding: 40px 20px;
  }

  .visible3 {
    height: 206px;
    padding: 40px 20px;
  }

  .visible4 {
    height: 110px;
    padding: 40px 20px;
  }
}
