@import-normalize; /* bring in normalize.css styles */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Manrope', sans-serif;
  font-weight: 400;
  color: #000;
  font-style: normal;
  line-height: normal;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  border: none;
  padding: 0;
  margin: 0;
  background-color: transparent;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.logo{
  font-weight: 400;
  font-size: 28px;
  line-height: 1.37;
  /* line-height: 38.25px; */

  color: black;
  text-decoration: none;
  font-family: 'Manrope', sans-serif; 
}




.swiper-horizontal>.swiper-pagination-progressbar,
.swiper-pagination-progressbar.swiper-pagination-horizontal,
.swiper-vertical>.swiper-pagination-progressbar.swiper-pagination-progressbar-opposite,
.swiper-pagination-progressbar.swiper-pagination-vertical.swiper-pagination-progressbar-opposite {
  bottom: 0;
  width: 100%;
  border-radius: 50px;
  background-color: white;
  border: 1px solid #9C32F0;
  position: relative;
  }

    .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
      background-color: #EC14E3;
      border-radius: 25px;
        bottom: 0;
        
    }
    
.btn_svg{
  transition: transform 0.3s ease-in-out;
}

.button-rotate{
transform: rotate(180deg);
}